@media (max-width: 726px){
    .div-ul{
        display: none;
    }
    .burger-icon{
        display: block;
    }
}

@media(max-width:418px){
    .burger-icon{
        margin-left: 25px;
        margin-top: 15px;

    }
}

@media(max-width:580px){
    .h-2{
        font-size: 50px;
        display: flex;
        justify-content: center;
    }
}

@media(max-width:610px){
   
        

    
    .h-2{
        display: none;
    }
        
    
}




@media(max-width:776px){
    .div-ul{
        display: none;
    }
    .burger-icon{
        display: block;
    }
}

@media(max-width:984px){
    .header{
        width: 895px;px;
        height: 700px;
        margin:  0 auto;
        background-position: center

    }
}

@media(max-width:911px){
.header{
    width: 750px;
    height: 690px;
   
    background-position: center

}
}

@media(max-width:770px){
    .header{
        width: 590px;px;
        height: 600px;
       
        background-position:bottom
    
    }
}

@media(max-width:610px){
    .header{
        width: 400px;
        height: 350px;
       
        background-position:bottom
    
    }
}

@media(max-width:418px){
    .header{width: 350px;
        height: 250px;
       
        background-position:bottom
    
}

}
@media(max-width:418px){
    .logo{
        font-size: 15px;
        margin-left: 25px;
        margin-top: 15px;
    }
} 
 
/* section 1 */

 @media(max-width:1075px){
.section1 {
    width: 950px;
}
}

@media(max-width:1075px){
    .section1{
        flex-direction: column;
        align-items: center;

    }
    .block-2{
        width:100%
       
       
        
    }

    .block-1{
        width;100%;
        
    }
    


}
@media(max-width:971px){
   .section1{
       width:800px;
}
}

@media(max-width:811px){
    .section1 {
        width: 750px;
    }
}

@media(max-width:770px){
    .section1{
        width: 650px;
    }
}

@media(max-width:665px){
    .section1{
        width:470px ;
    }
    .block-2{
        height: 450px;
        background-position: center;

    }
    .block-1 .block-p{
        text-align: center;
        font-size: 12px;

    }

    .block-1 .block-h{
        font-size:35px;
    }

}

@media(max-width:606px){
    .section1 {
        width:360px;
    }
    
} 

@media(max-width:606px){
    .block-1 .block-p{
        text-align: center;
        font-size: 12px;

    }

    .block-1 .block-h{
        font-size:35px;
    }
    .block-2{
        height: 450px;
        background-position: center;

    }

    
}

@media(max-width:463px){
    .section1 {
        width:290px;
    }

    .block-2{
        height: 350px;
    }

} 



/* section-2 */
 @media(max-width:1085px){
    .block-div{
        width: 30%;
    }
}

@media(max-width:972px){
    .section2{
        width: 850px;
    }
    .block-div{
        width: 48%;
       
    }
}

@media(max-width:969px){
    .section2{
        width:650px ;
    }
}

@media(max-width:706px){
    .section2{
        width:550;
    }
    .blocks{
        flex-direction: column;
        align-items: center;
    }

}

@media(max-width:665px){
    .section2{
        width: 520px;
    }
   
}
@media(max-width:536px){
    .section2{
        width: 450px;
    }

    .block-div{
        width:275px;
        height: 300px;
    }
    .section2 .h-4{
        font-size: 25px;
        width: 250px;
    }
    .section2 .p-2{
        width: 292px;
        text-align: center;
    }
   
}

@media(max-width:467px){
    .section2{
        width: 292px;
    }
}   

 
