.header{
    width: 1280px;
    height: 900px;
    margin:  0 auto;
    background-image:url(../image/Group\ 5.jpg)
     
}

.navigation { 
    display: flex;
    justify-content: space-between;

}

.div-ul {
    display: flex;
    justify-content: space-around;
}

.li-1{
    margin-right: 50px;
    color: white;
    font-weight: bold;
    margin-top: 50px;

}

.logo {
    margin-top: 30px;
    font-size: 30px;
    color: white;
    margin-left: 50px;
    font-weight: bold;
}
.box-h-2{
    display: flex;
    justify-content: center;
    
}
.h-2{
    color: #FFFFFF;
    font-size: 100px;
    padding-top: 270px ;
}

/* section 1 */

.section1 {
    width: 1280px;
    height: 602px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.block-1{
   
width: 640px;
height: 602px;
    
}

.box{
    
width: 220px;
height: 72px;
border-radius: 36%;
background-color: #325DFF; 
display: flex;
align-content: center;}

.title{
    
margin: 0 auto;
width: 200px; 
margin-top: 25px;
color: #FFFFFF;
padding-left: 20px;
        
}


.block-h{
margin: 0 auto;
font-size: 40px;
margin-bottom: 30px;
width:400px;
margin-top: 85px;
}

.block-p{
margin: 0 auto;
width: 400px;
}



.block-2{
width: 640px;
height: 602px;
background-image:url(../image/Rectangle\ 2.jpg) ;
}

.box-div{
width: 320px;
height: 72px;
margin: 0 auto;
margin-top: 100px;
}

.section2 {
width: 1280px;
height: 1160px;
background-color:#EBEBEB;
margin: 0 auto;   
}

.h-4{
width: 350px;
margin: 0 auto;
font-size: 35px;
padding-top: 50px;
}

.p-2{
    width: 600px;
    margin: 0 auto;
    margin-top: 30px; 
}
    
.blocks{
  
margin-top: 50px;
display: flex;
flex-wrap: wrap;
    
}

.block-div{
width: 371px;
height: 374px;
background-color: white;
margin: 0 auto;
margin-right: 40px;
margin-bottom: 70px;
}

.circle{
width: 88px;
height: 88px;
background-color: #325DFF;
border-radius: 50%;
margin: 0 auto;
margin-top: 30px;
}

.circle-image{
display: flex;
justify-content: center;
align-items: center;

padding-top: 25px;
}

.h-3{
margin: 0 auto;
margin-top: 40px;
width: 100px;
}

.p-3{
width: 300px;
margin: 0 auto;
margin-top: 30px;

}